#jinja2: trim_blocks: True,lstrip_blocks: True
{###################################################
Purpose:
Configure interfaces on OS9 Devices.

dellos_interfaces:
  OS9:
    fortyGigE 0/36:
            desc: "OS9 intf"
            portmode: False
            mtu: 2000
            switchport: False
            admin: up
            ip_and_mask: "192.168.13.1/24"
            ipv6_and_mask: 2001:4898:5808:ffa2::9/126
            ipv6_reachabletime: 60000
            ip_helper:
              - ip: 10.0.0.33
                state: present
            fanout: True

####################################################}

{% set vars  = dellos_interfaces[hostname] %}
{% for key in vars.keys() %}
{% set intf_vars  = vars[key] %}

{% set intf = key.split(" ") %}
{% set port = intf[1].split('/') %}
{% if intf_vars.fanout is defined %}
  {% if intf_vars.fanout %}
stack-unit {{ port[0] }} port {{ port[1] }} portmode quad
  {% else %}
no stack-unit {{ port[0] }} port {{ port[1] }} portmode quad
  {% endif %}
{% endif %}

{% if (intf_vars.fanout is defined and not intf_vars.fanout) or (intf_vars.fanout is not defined)%}
interface {{ key }}
  {% if intf_vars.desc is defined %}
    {% if intf_vars.desc %}
 description "{{ intf_vars.desc }}"
    {% else %}
 no description
    {% endif %}
  {% endif %}

  {% if intf_vars.portmode is defined %}
    {% if intf_vars.portmode %}
 portmode {{ intf_vars.portmode}}
    {% else %}
 no portmode hybrid
    {% endif %}
  {% endif %}

  {% if intf_vars.switchport is defined %}
    {% if intf_vars.switchport %}
 switchport
    {% else %}
 no switchport
    {% endif %}
  {% endif %}

  {% if intf_vars.mtu is defined %}
    {% if intf_vars.mtu %}
 mtu {{ intf_vars.mtu }}
    {% else %}
 no mtu
    {% endif %}
  {% endif %}

  {% if intf_vars.ip_and_mask is defined %}
    {% if intf_vars.ip_and_mask %}
 ip address {{ intf_vars.ip_and_mask }}
    {% else %}
 no ip address
    {% endif %}
  {% endif %}

  {% if intf_vars.ipv6_and_mask is defined %}
    {% if intf_vars.ipv6_and_mask %}
 ipv6 address {{ intf_vars.ipv6_and_mask }}
    {% else %}
 no ipv6 address
    {% endif %}
  {% endif %}

  {% if intf_vars.ipv6_reachabletime is defined %}
    {% if intf_vars.ipv6_reachabletime %}
 ipv6 nd reachable-time {{ intf_vars.ipv6_reachabletime }}
    {% else %}
 no ipv6 nd reachable-time
    {% endif %}
  {% endif %}

  {% if intf_vars.ip_helper is defined and intf_vars.ip_helper %}
    {% for helper in intf_vars.ip_helper %}
      {% if helper.ip is defined and helper.ip %}
        {% if helper.state is defined and helper.state == "absent" %}
 no ip helper-address {{ helper.ip }}
        {% else %}
 ip helper-address {{ helper.ip }}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if intf_vars.admin is defined %}
    {% if intf_vars.admin == "up" %}
 no shutdown
    {% elif intf_vars.admin == "down" %}
 shutdown
    {% endif %}
  {% endif %}

{% endif %}
{% endfor %}

