#jinja2: trim_blocks: True,lstrip_blocks: True
{#####################################################
Purpose:
Configure interfaces on OS10 Devices.

dellos_interface:
  OS10:
    ethernet1/1/31:
            desc: "OS10 intf"
            portmode: trunk
            mtu: 2000
            switchport: False
            admin: up
            ip_and_mask: "192.168.11.1/24"
            suppress_ra: present
            ipv6_and_mask: 2001:4898:5808:ffa2::5/126
            state_ipv6: present
            ip_helper:
              - ip: 10.0.0.36
                state: present
            fanout: True

#####################################################}
{% if (dellos_interface is defined and dellos_interface) and (hostname in dellos_interface) %}
{% set vars  = dellos_interface[hostname] %}
{% if vars %}
{% for key in vars.keys() %}
  {% set intf_vars  = vars[key] %}
  {% set port = key.split(" ") %}

  {% if intf_vars.fanout is defined %}
    {% if intf_vars.fanout %}
interface breakout {{ port[1] }} map 10g-4x
    {% else %}
no interface breakout {{ port[1] }}
    {% endif %}
  {% endif %}
  {% if (intf_vars.fanout is defined and not intf_vars.fanout) or (intf_vars.fanout is not defined)%}
interface {{ port[0] }}{{ port[1] }}
  
  {% if intf_vars.desc is defined %}
    {% if intf_vars.desc %}
 description "{{ intf_vars.desc }}"
    {% else %}
 no description
    {% endif %}
  {% endif %}

  {% if intf_vars.switchport is defined %}
    {% if intf_vars.switchport %}
      {% if intf_vars.portmode is defined and intf_vars.portmode %}
 switchport mode {{ intf_vars.portmode }}
      {% else %}
 switchport mode access
      {% endif %}
    {% else %}
 no switchport
    {% endif %}
  {% else %}
    {% if intf_vars.portmode is defined %}
      {% if intf_vars.portmode %}
 switchport mode {{ intf_vars.portmode }}
      {% else %}
 no switchport
      {% endif %}
    {% endif %}
  {% endif %}

  {% if intf_vars.mtu is defined %}
    {% if intf_vars.mtu %}
 mtu {{ intf_vars.mtu }}
    {% else %}
 no mtu
    {% endif %}
  {% endif %}
  
  {% if intf_vars.ip_and_mask is defined %}
    {% if intf_vars.ip_and_mask %}
 ip address {{ intf_vars.ip_and_mask }}
    {% else %}
 no ip address
    {% endif %}
  {% endif %}
 
   {% if intf_vars.suppress_ra is defined %}
    {% if intf_vars.suppress_ra == "present" %}
 ipv6 nd suppress-ra
    {% else %}
 no ipv6 nd suppress-ra
    {% endif %}
  {% endif %}


  {% if intf_vars.ipv6_and_mask is defined %}
    {% if intf_vars.ipv6_and_mask %}
      {% if intf_vars.state_ipv6 is defined and intf_vars.state_ipv6 == "absent" %}
 no ipv6 address {{ intf_vars.ipv6_and_mask }}
      {% else %}
 ipv6 address {{ intf_vars.ipv6_and_mask }}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if intf_vars.ip_helper is defined and intf_vars.ip_helper %}
    {% for helper in intf_vars.ip_helper %}
      {% if helper.ip is defined and helper.ip %}
        {% if helper.state is defined and helper.state == "absent" %}
 no ip helper-address {{ helper.ip }}
        {% else %}
 ip helper-address {{ helper.ip }}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if intf_vars.admin is defined %}
    {% if intf_vars.admin == "up" %}
 no shutdown
    {% elif intf_vars.admin == "down" %}
 shutdown
    {% endif %}
  {% endif %}

  {% endif %}
{% endfor %}
{% endif %}
{% endif %}
